<!-- Footer Start ============================================= -->
<footer id="colophon" class="site-footer">
    <div class="widget-wrap">
        <div class="wrap">
            <div class="widget-area">
                @RenderPage("~/Views/Shared/_Footer1.cshtml")
                @RenderPage("~/Views/Shared/_Footer2.cshtml")
                @RenderPage("~/Views/Shared/_Footer3.cshtml")
                @RenderPage("~/Views/Shared/_Footer4.cshtml")
            </div> <!-- end .widget-area -->
        </div><!-- end .wrap -->
    </div> <!-- end .widget-wrap -->
    
    <a class="go-to-top">
        <span class="icon-bg"></span>
        <span class="back-to-top-text">Top</span>
        <i class="fa fa-angle-up back-to-top-icon"></i>
    </a>
</footer> <!-- end #colophon -->
        </div><!-- end .site-content-contain -->
<!-- end #page -->
<div style="display:none">
</div>
@RenderPage("~/Views/Shared/_FooterScript.cshtml")
