<!-- Masthead ============================================= -->
<header id="masthead" class="site-header">
    <div class="custom-header">
        <div class="custom-header-media">
        </div>
    </div>
    <div class="top-bar">
        @*Thông tin cửa hàng*@
        <div class="wrap">
            <aside id="text-5" class="widget widget_contact">
                <div class="textwidget">
                    <ul>
                        <li><a title="Gọi chúng tôi" href="tel:+841654018013"><i class="fa fa-phone-square"></i> (0165) 401-8013</a></li>
                        <li><a title="Mail chúng tôi" href="mailto:nhantx.1906@gmail.com"><i class="fa fa-envelope-o"></i> nhantx.1906@gmail.com</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div><!-- end .top-bar -->




    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-4 top-left-gl">
                    <div class="col-xs-12 logo-row-gl">
                        <a href="https://bacminhcanh.com">
                            <img src="https://bacminhcanh.com/wp-content/themes/minhcanh/images/bacminhcanh-logoweb.png" alt="" class="logo_gl" height="80">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 seach-row">
                    <form method="get" id="searchform" action="https://bacminhcanh.com/">
                        <div class="devvn_table devvn_form_search">
                            <div class="devvn_cell devvn_input_s">
                                <input type="text" value="" name="s" class="search_text" id="s" size="30" onfocus="searchOnFocus(this,'Tìm kiếm');" onblur="searchOnBlur(this,'Tìm kiếm');" placeholder="Tìm kiếm">
                            </div>
                            <div class="devvn_cell devvn_button_search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-8 col-md-4 top-right-gl">
                    <div id="top">
                        <div class="devvn_btn_menu">
                            <button type="button" class="button_menu">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="top-two">
                            <ul class="cart-head-new">
                                <li class="icon-cart"><a href="https://bacminhcanh.com/gio-hang/"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li class="text-cart">
                                    <a href="https://bacminhcanh.com/gio-hang/">GIỎ HÀNG</a> (<span id="myTotalCart">0</span>)
                                </li>
                            </ul>
                        </div>
                        <div class="top-one">
                            <ul class="phone-head-">
                                <li><img src="https://bacminhcanh.com/wp-content/themes/minhcanh/ico_phone.png"></li>
                                <li>
                                    <span><b>HOTLINE</b></span>
                                    <p>0963.628.375</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Thanh menu chính============================================= -->
    <div id="sticky-header" class="clearfix">
        <div class="wrap">
            <div class="header-navigation-wrap">
                <div class="header-social-block">
                    <div class="social-links clearfix">
                        <ul>
                            <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="@Url.Content("https://www.facebook.com/TrangSucBacCaoCapCherryCap")"><span class="screen-reader-text">Facebook</span></a></li>
                            <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="https://twitter.com/"><span class="screen-reader-text">Twitter</span></a></li>
                            <li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a href="http://www.instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
                        </ul>
                    </div><!-- end .social-links -->
                </div><!-- end .header-social-block -->			<!-- Main Nav ============================================= -->
                <div id="site-branding">
                    <div id="site-detail">
                        <h3 id="site-title">
                            <a href="https://demo.themefreesia.com/excellent/" title="Excellent">Excellent</a>
                        </h3>
                    </div>
                </div> <!-- end #site-branding -->
                <nav id="site-navigation" class="main-navigation clearfix">
                    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                        <span class="line-one"></span>
                        <span class="line-two"></span>
                        <span class="line-three"></span>
                    </button><!-- end .menu-toggle -->
                    @*Menu chính của page*@
                    <!--Menu chính của page-->
                    <ul id="primary-menu" class="menu nav-menu">
                        <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-12">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                        <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11">@Html.ActionLink("Giới thiệu", "Index", "GioiThieu")</li>
                        <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-115">
                            @Html.ActionLink("Sản phẩm", "Index", "SanPham")
                            @Html.Action("_LoaiSanPhamMenuChinh", "LoaiSanPham")
                        </li>
                        <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">@Html.ActionLink("Bản đồ", "Index", "BanDo")</li>
                        <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">@Html.ActionLink("Liên hệ", "Index", "LienHe")</li>
                    </ul>
                </nav> <!-- end #site-navigation -->


            </div> <!-- end .header-navigation-wrap -->
        </div> <!-- end .wrap -->
    </div><!-- end #sticky-header -->

</header> <!-- end #masthead -->
<!-- Main Page Start ============================================= -->