<!DOCTYPE html>

<html>
@RenderPage("~/Views/Shared/_Head.cshtml")
@RenderSection("ThemJsChoTungPage", required: false)
</head>

<body>

    <div id="page" class="site">
        @RenderPage("~/Views/Shared/Header/_Header.cshtml")
        <!-- end #sticky-header -->
        @RenderSection("RenderSliderImageForFrontPage", required: false)
        <div class="site-content-contain">
            <div>
                @RenderBody()
            </div>
            @RenderPage("~/Views/Shared/_Footer.cshtml")
