<!DOCTYPE html>

<html>
<head>
    @*Default header*@
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title</title>

    @*Tăng tốc độ tải trang với dns-prefetch*@
    <link rel='dns-prefetch' href='//s0.wp.com' />
    <link rel='dns-prefetch' href='//secure.gravatar.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />

    @*Stylesheet for web*@
    <link rel='stylesheet' id='excellent-style-css' href='~/Content/Themes/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='~/Content/Themes/assets/font-awesome/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='excellent-animate-css' href='~/Content/Themes/assets/wow/css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='excellent-responsive-css' href='~/Content/Themes/css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='excellent_google_fonts-css' href='//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400i%2C700%7CLora%3A400%2C400i&#038;ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='recent-posts-widget-with-thumbnails-public-style-css' href='~/Content/Themes/css/thumbnails-style.css' type='text/css' media='all' />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*Js*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body class="home page-template page-template-page-templates page-template-excellent-corporate page-template-page-templatesexcellent-corporate-php page page-id-4 custom-background wp-custom-logo boxed-layout  excellent-corporate">
    <div id="page" class="site">
        <!-- Masthead ============================================= -->
        <header id="masthead" class="site-header">
            <div class="custom-header">
                <div class="custom-header-media">
                </div>
            </div>
            <div class="top-bar">
                <div class="wrap">
                    <aside id="text-5" class="widget widget_contact">
                        <div class="textwidget">
                            <ul>
                                <li><a title="Gọi chúng tôi" href="tel:+841654018013"><i class="fa fa-phone-square"></i> (0165) 401-8013</a></li>
                                <li><a title="Mail chúng tôi" href="mailto:nhantx.1906@gmail.com"><i class="fa fa-envelope-o"></i> nhantx.1906@gmail.com</a></li>
                            </ul>
                        </div>
                    </aside>			<div class="top-bar-menu">
                        <div class="top-menu-toggle">
                            <span>MENU</span>
                        </div>
                        <ul class="top-menu">
                            <li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-401"><a href="#">Home</a></li>
                            <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="#">Support</a></li>
                            <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="#">About Us</a></li>
                            <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- end .top-bar-menu -->
                </div><!-- end .wrap -->
            </div><!-- end .top-bar -->
            <!-- Top Header============================================= -->
            <div class="top-header">
                <div class="wrap">
                    <div id="site-branding"><a href="https://demo.themefreesia.com/excellent/" class="custom-logo-link" rel="home" itemprop="url"><img width="800" height="300" src="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/05/excellent-wplogo.png" class="custom-logo" alt="Excellent" itemprop="logo" srcset="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/05/excellent-wplogo.png 800w, https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/05/excellent-wplogo-300x113.png 300w, https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/05/excellent-wplogo-768x288.png 768w" sizes="(max-width: 800px) 100vw, 800px" /></a></div>				<div id="search-toggle" class="header-search"></div>
                    <div id="search-box" class="clearfix">
                        <form class="search-form" action="https://demo.themefreesia.com/excellent/" method="get">
                            <input type="search" name="s" class="search-field" placeholder="Tìm kiếm sản phẩm &hellip;" autocomplete="off">
                            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                        </form> <!-- end .search-form -->
                    </div>  <!-- end #search-box -->
                </div>
            </div><!-- end .top-header -->
            <!-- Main Header============================================= -->
            <div id="sticky-header" class="clearfix">
                <div class="wrap">
                    <div class="header-navigation-wrap">
                        <div class="header-social-block">
                            <div class="social-links clearfix">
                                <ul>
                                    <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="@Url.Content("https://www.facebook.com/TrangSucBacCaoCapCherryCap")"><span class="screen-reader-text">Facebook</span></a></li>
                                    <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="https://twitter.com/themefreesia"><span class="screen-reader-text">Twitter</span></a></li>
                                    <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a href="https://plus.google.com/117247313565616216048"><span class="screen-reader-text">Google Plus</span></a></li>
                                    <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a href="http://www.pinterest.com"><span class="screen-reader-text">Pinterest</span></a></li>
                                    <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="http://dribbble.com"><span class="screen-reader-text">Dribbble</span></a></li>
                                    <li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a href="http://www.instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
                                    <li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22"><a href="http://www.flickr.com"><span class="screen-reader-text">Flickr</span></a></li>
                                    <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23"><a href="http://www.linkedin.com"><span class="screen-reader-text">Linkedin</span></a></li>
                                </ul>
                            </div><!-- end .social-links -->
                        </div><!-- end .header-social-block -->			<!-- Main Nav ============================================= -->
                        <div id="site-branding">
                            <div id="site-detail">
                                <h3 id="site-title">
                                    <a href="https://demo.themefreesia.com/excellent/" title="Excellent">Excellent</a>
                                </h3>
                            </div>
                        </div> <!-- end #site-branding -->
                        <nav id="site-navigation" class="main-navigation clearfix">
                            <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
                                <span class="line-one"></span>
                                <span class="line-two"></span>
                                <span class="line-three"></span>
                            </button><!-- end .menu-toggle -->

                        @*Menu chính của page*@
                        <!--Menu chính của page-->
                            <ul id="primary-menu" class="menu nav-menu">
                                <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-12">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11">@Html.ActionLink("Giới thiệu", "Index", "GioiThieu")</li>
                                <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-115">
                                    @Html.ActionLink("Sản phẩm", "Index", "SanPham")
                                    @Html.Action("LoaiSanPhamMenuChinh", "LoaiSanPham")
                                </li>
                                <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">@Html.ActionLink("Bản đồ", "Index", "BanDo")</li>
                                <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10">@Html.ActionLink("Liên hệ", "Index", "LienHe")</li>
                            </ul>
                        </nav> <!-- end #site-navigation -->


                    </div> <!-- end .header-navigation-wrap -->
                </div> <!-- end .wrap -->
            </div><!-- end #sticky-header -->
            @RenderSection("RenderSliderImageForFrontPage", required: false)
        
        </header> <!-- end #masthead -->
        
        <!-- Main Page Start ============================================= -->
        <div class="site-content-contain">
            <div>
                @RenderBody()
            </div>
            <!-- Footer Start ============================================= -->
            <footer id="colophon" class="site-footer">
                <div class="widget-wrap">
                    <div class="wrap">
                        <div class="widget-area">
                            <div class="column-4">
                                <aside id="text-3" class="widget widget_text">
                                    <h3 class="widget-title">Excellent</h3>			<div class="textwidget">
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p>Lorem ipsum dolor sit consectetur adipiscing elit.</p>
                                    </div>
                                </aside>
                            </div><!-- end .column4  --><div class="column-4">
                                <aside id="text-8" class="widget widget_text">
                                    <h3 class="widget-title">How to setup One click demo importer in Excellent?</h3>			<div class="textwidget">
                                        <p>Please follow the below youtube video to set <a title="One Click Demo Importer" target="_blank" href="https://themefreesia.com/?smd_process_download=1&download_id=12028">One Click Demo Importer</a> plugins to display content as in our Demo Site. </p>

                                        <iframe src="https://www.youtube.com/embed/fmwipW6dmxk" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </aside>
                            </div><!--end .column4  --><div class="column-4">
                                <aside id="recent-posts-widget-with-thumbnails-4" class="widget recent-posts-widget-with-thumbnails">
                                    <div id="rpwwt-recent-posts-widget-with-thumbnails-4" class="rpwwt-widget">
                                        <h3 class="widget-title">Recent Posts</h3>	<ul>
                                            <li><a href="https://demo.themefreesia.com/excellent/2017/02/23/build-professionals-professionals-2/"><img width="45" height="45" src="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/post-image-1-150x150.jpg" class="attachment-45x45 size-45x45 wp-post-image" alt="" /><span class="rpwwt-post-title">Use more link to excerpt below text content</span></a></li>
                                            <li><a href="https://demo.themefreesia.com/excellent/2017/02/23/specifically-designed-creative-wp-theme/"><img width="45" height="45" src="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/post-image-2-150x150.jpg" class="attachment-45x45 size-45x45 wp-post-image" alt="" /><span class="rpwwt-post-title">Specifically designed Creative WP theme.</span></a></li>
                                            <li><a href="https://demo.themefreesia.com/excellent/2017/02/23/build-professionals-professionals/"><img width="45" height="45" src="https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/post-image-3-150x150.jpg" class="attachment-45x45 size-45x45 wp-post-image" alt="" /><span class="rpwwt-post-title">Build by professionals for professionals.</span></a></li>
                                        </ul>
                                    </div><!-- .rpwwt-widget -->
                                </aside>
                            </div><!--end .column4  --><div class="column-4">
                                <aside id="text-6" class="widget widget_text">
                                    <h3 class="widget-title">Contact us</h3>			<div class="textwidget">
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Open Time: 9am-4pm</li>
                                            <li><a title="Our Address" href="#"><i class="fa fa-map-marker"></i>  Address: TF Tower, 5th Floor, Zyz Street</a></li>
                                            <li><a title="Call Us" href="tel:+1234567890"><i class="fa fa-phone-square"></i> (123) 456-7890</a></li>
                                            <li><a title="Mail Us" href="mailto:support@themefreesia.com"><i class="fa fa-envelope-o"></i> abc@themefreesia.com</a></li>
                                            <li><a title="Live chat" href="mailto:support@themefreesia.com"><i class="fa fa-skype"></i> themefreesia</a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div><!--end .column4-->
                        </div> <!-- end .widget-area -->
                    </div><!-- end .wrap -->
                </div> <!-- end .widget-wrap -->
                <div class="site-info" style="background-image:url('https://demo.themefreesia.com/excellent/wp-content/uploads/sites/17/2017/02/footer.jpg');">
                    <div class="wrap">
                        <div class="social-links clearfix">
                            <ul>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="https://www.facebook.com/themefreesia/"><span class="screen-reader-text">Facebook</span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17"><a href="https://twitter.com/themefreesia"><span class="screen-reader-text">Twitter</span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a href="https://plus.google.com/117247313565616216048"><span class="screen-reader-text">Google Plus</span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a href="http://www.pinterest.com"><span class="screen-reader-text">Pinterest</span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="http://dribbble.com"><span class="screen-reader-text">Dribbble</span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a href="http://www.instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22"><a href="http://www.flickr.com"><span class="screen-reader-text">Flickr</span></a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23"><a href="http://www.linkedin.com"><span class="screen-reader-text">Linkedin</span></a></li>
                            </ul>
                        </div><!-- end .social-links -->
                        <nav id="footer-navigation">
                            <ul>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-401"><a href="https://demo.themefreesia.com/excellent/">Home</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="https://demo.themefreesia.com/excellent/support/">Support</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="https://demo.themefreesia.com/excellent/about-us/">About Us</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402"><a href="https://demo.themefreesia.com/excellent/contact/">Contact</a></li>
                            </ul>
                        </nav><!-- end #footer-navigation --><div class="copyright">
                            &copy; 2018 			<a title="Excellent" target="_blank" href="https://demo.themefreesia.com/excellent/">Excellent</a> |
                            Designed by: <a title="Theme Freesia" target="_blank" href="https://themefreesia.com">Theme Freesia</a> |
                            Powered by: <a title="WordPress" target="_blank" href="https://wordpress.org">WordPress</a>
                        </div>
                        <div style="clear:both;"></div>
                    </div> <!-- end .wrap -->
                </div> <!-- end .site-info -->
                <a class="go-to-top">
                    <span class="icon-bg"></span>
                    <span class="back-to-top-text">Top</span>
                    <i class="fa fa-angle-up back-to-top-icon"></i>
                </a>
            </footer> <!-- end #colophon -->
        </div><!-- end .site-content-contain -->
        <!-- end #page -->
        <div style="display:none">
        </div>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var wpcf7 = { "apiSettings": { "root": "https:\/\/demo.themefreesia.com\/excellent\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } }, "cached": "1" };
            /* ]]> */
        </script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.1'></script>
        <script type='text/javascript' src='https://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201816'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var wc_add_to_cart_params = { "ajax_url": "\/excellent\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/excellent\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/demo.themefreesia.com\/excellent\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
            /* ]]> */
        </script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.3.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var woocommerce_params = { "ajax_url": "\/excellent\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/excellent\/?wc-ajax=%%endpoint%%" };
            /* ]]> */
        </script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.3.5'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var wc_cart_fragments_params = { "ajax_url": "\/excellent\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/excellent\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_0b597a06dca2ef25f6d7966b95608d1b", "fragment_name": "wc_fragments_0b597a06dca2ef25f6d7966b95608d1b" };
            /* ]]> */
        </script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.3.5'></script>
        <script type='text/javascript' src='https://secure.gravatar.com/js/gprofiles.js?ver=2018Apraa'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var WPGroHo = { "my_hash": "" };
            /* ]]> */
        </script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/js/excellent-main.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/assets/sticky/jquery.sticky.min.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/assets/sticky/sticky-settings.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/js/jquery.flexslider.js?ver=4.9.5'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var excellent_slider_value = { "excellent_animation_effect": "slide", "excellent_slideshowSpeed": "5000", "excellent_animationSpeed": "700", "excellent_direction": "horizontal" };
            /* ]]> */
        </script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/js/flexslider-setting.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/assets/wow/js/wow.min.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/assets/wow/js/wow-settings.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-content/themes/excellent/js/navigation.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://demo.themefreesia.com/excellent/wp-includes/js/wp-embed.min.js?ver=4.9.5'></script>
        <script type='text/javascript' src='https://stats.wp.com/e-201816.js' async='async' defer='defer'></script>
        <script type='text/javascript'>
            _stq = window._stq || [];
            _stq.push(['view', { v: 'ext', j: '1:6.0', blog: '124650088', post: '4', tz: '0', srv: 'demo.themefreesia.com' }]);
            _stq.push(['clickTrackerInit', '124650088', '4']);
        </script>
</body>
</html>
